
.item-menu{
    width: 80%;
    height: 50px;
    background-color: #B2ABF2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item .active{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #140822;
    color: white;
}