

.item-menu{
    width: 80%;
    height: 50px;
    background-color: #B2ABF2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item .active{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #140822;
    color: white;
}

.grid-pedido{
    display: grid;
    grid-template-columns:49% 49%;
    margin-top: 2%;
    font-family: 'Fredoka', sans-serif;
    grid-column-gap:2%;
}

.grid-pedido .grid-item-1, .grid-pedido .grid-item-2{
    margin-top: 1%;
    margin-bottom: 1%;
}

.grid-pedido .grid-item-1{
    grid-column: span 2;
}

.grid-pedido .grid-item-2{
    grid-column: span 1;
}

.grid-pedido .grid-item-1 input{
    width: 87%;
    padding: 1% 6% 1% 6%;
    border-color:aliceblue;
    margin-top: 2%;
    font-size: 0.8em;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #39c;
}

.grid-pedido .grid-item-2 input{
    width: 86%;
    padding: 1% 6% 1% 6%;
    border-color:aliceblue;
    margin-top: 2%;
    font-size: 0.8em;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #39c;
}

.grid-pedido .grid-item-1 button{
    width: 87%;
    padding: 1% 6% 1% 6%;
    border-color:aliceblue;
    margin-top: 2%;
    font-size: 1.3em;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #39c;
}

.grid-pedido .grid-item-2 button{
    width: 86%;
    padding: 1% 6% 1% 6%;
    border-color:aliceblue;
    margin-top: 2%;
    font-size: 1.3em;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #39c;
}

.grid-pedido .grid-item-1 ul{
    background-color: white;
    
}

.lisDiv{
    max-height: 60px;
    overflow-y: scroll;
}

.grid-pedido .grid-item-1 li{
    list-style: none;
    width: 100%;
    font-size: 0.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.grid-pedido .grid-item-1 li input{
    width: 20%;
}

.selctAdorno{
width: 33.33%;
}

.selctAdorno select{
    width: 90%;
    background-color: white;
    font-size: 0.5em;
}
/* .
.grid-pedido .grid-item-2 li label{
    width: 79%;
} */